@page
@model RecipeVault.Pages_Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="my-4">Recipe Details</h1>

<div class="card mb-4">
    <div class="row g-0">
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">@Model.Recipe.RecipeName</h5>
                <p class="card-text"><strong>Description:</strong> @Model.Recipe.Description</p>
                <p class="card-text"><strong>Instructions:</strong> @Model.Recipe.Instructions</p>
                <p class="card-text"><strong>Cook Time:</strong> @Model.Recipe.CookTime</p>
                <p class="card-text"><strong>Category:</strong> @Model.Recipe.Category.CategoryName</p>
                <p class="card-text"><strong>Ingredients:</strong></p>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Recipe.RecipeIngredients)
                    {
                        <li class="list-group-item">@item.Ingredient.IngredientName</li>
                    }
                </ul>
                <a asp-page="./Index" class="btn btn-success mt-3">Back to List</a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="h-100">
                <img src="/@Model.Recipe.ImageURL" class="img-fluid rounded h-100" alt="@Model.Recipe.RecipeName" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>